/* Import Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Define font And color variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em; /* 2% */
  color: var(--navy-blue);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}

nav a {
  color: var(--navy-blue);
}

nav a:hover {
  color: var(--ocean);
}
main {
  background-color: rgba(0, 255, 255, 0.164);
  color: var(--slate);
  flex-grow: 1;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0.02em; /* 2% */
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0.02em; /* 2% */
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: medium;
  line-height: 24px;
  letter-spacing: 0.02em; /* 2% */
  margin: 0;
}

address a {
  color: var(--slate);
  text-decoration: none;
  font-style: normal;
}

address a:hover {
  color: var(--ocean);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03em; /* 3% */
  line-height: 21px;
  text-decoration: none;
  padding-right: 76px;
}

.logo-start {
  color: var(--iris);
}

.logo-end {
  color: var(--navy-blue);
}

.logo-end-footer {
  color: var(--cloud);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03em; /* 3% */
  line-height: 21px;
  text-decoration: none;
  padding-bottom: 24px;
}
.container {
  max-width: 1128px;
  /* for development purpose */
  /* outline: 2px dashed red; */
}

.header-arrangement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 0px;
}

.service-arrangement {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
  padding-top: 188px;
}

.strategy-arrangement {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 120px 0px;
}

.strategy-arrangement-ul {
  display: flex;
  gap: 24px;
  padding: 0px 0px;
}
.strategy-arrangement-ul-header {
  padding-bottom: 8px;
}

.our-team-arrangement {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.our-team-arrangement-ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0px 0px;
  margin-bottom: 120px;
  margin-top: 0;
}
.our-team-header {
  padding: 120px 0 72px;
}

.portfolio-arrangement {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.portfolio-header {
  padding: 120px 0 72px;
}

.portfolio-arrangement-ul {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  row-gap: 48px;
  column-gap: 24px;
  padding: 0px 0px;
  margin-bottom: 120px;
  margin-top: 0;
}
.our-team-header {
  padding: 120px 0 72px;
}

.page-header {
  background-color: var(--white); /* grey;*/
}

.header-left {
  background-color: none; /*yellow;*/
  display: flex;
  align-items: center;
}
.header-right {
  background-color: none; /*green;*/
}
.header-left-links,
.header-right-links {
  display: flex;
  gap: 40px;
  margin: 0;
}

.section-our-service {
  background-color: var(--navy-blue);
  color: var(--white);
  min-height: 600px;
  margin-top: 0;
}

.service-button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em; /* 4% */
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: var(--white);
  padding: 16px 32px;
  border-radius: 4px;
  border-style: none;
}

.service-button:hover,
.service-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
.section-strategy {
  background-color: var(--white); /*beige;*/
}

.section-our-team {
  background-color: var(--cloud);
}

.section-portfolio {
  background-color: var(--white); /*greenyellow;*/
}

.portrait-card {
  background-color: var(--white);
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portrait-img {
  display: block;
  max-width: 100%;
}

.portrait-details {
  background-color: none;
}
.portrait-details > p {
  margin-top: 3px;
}
.portrait-details > h3 {
  margin-top: 32px;
}

.portfolio-card {
  background-color: var(--white);
  width: 360px;
  height: 420px;
  text-align: start;
  border-color: var(--cornflower);
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
.portfolio-img {
  display: block;
  max-width: 100%;
}

.portfolio-details > p {
  margin-top: 3px;
  padding-left: 16px;
}

.portfolio-details > h3 {
  margin-top: 32px;
  padding-left: 16px;
}

footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
}

.footer-arrangement {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  padding: 100px 0px;
  min-height: 312px;
  column-gap: 16px;
}

.footer-text {
  width: 264px;
}
